* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Inter', sans-serif;
}

/* .on{display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: red;

} */
nav {
    
    height: 64px;
    padding: 0px 140px;
    background: rgb(0, 0, 0);
   
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    /* background-color: #000000; */
    position:sticky;
    top: 0px;
}


ul li {
    display: inline-block;
    align-items: center;
    /* padding: 0px 12px; */
    
}


ul li a {
    height: 34px;
    text-decoration: none;
    padding: 4px 10px;
    color: beige;
}

.btn {
    padding: 0px;
}

.bt {
    height: 34px;
    width: 110px;
    background-color: #07E4F2;
    color: rgb(0, 0, 0);
    border: 0px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16x;
}

ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: beige;
    padding: 4px 16px;
}


.menu {
    display: none;
}

.links {
    display: none;
}

.navi {
    background: beige;
    width: 160px;
    position: absolute;
    right: 0px;
    top: 65px;
    list-style-type: none;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
    display: none;
   
}


.navi li a {
    display: block;

    padding: 16px 16px 16px 40px;
    font-weight: 500;
    color: black;
    text-align: left;
    text-decoration: none;

}
.navi li a:hover {
    background-color: azure;
}

body{background-color: antiquewhite;
height:auto}
.dis {
    display: flex;
    margin: 100px 140px 0px 140px;
    padding: 0px 0px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    /* height: calc(100vh -64px); */
    /* background: antiquewhite; */
    /* background-color: antiquewhite; */
    background-attachment: fixed;
}
.hero {
    width: 60%;
    height: auto;
    display: flex;
}

h1 {
    font-weight: bolder;
    font-size: 2.5rem;
}

p {
    font-size: 1rem;
}
.para {
    width: 600px;
    color: rgb(5, 25, 61);
    text-align: left;
    padding-left: 40px ;
}

hr {
    color: rgb(10, 123, 223);
    border: 4px;
}

/* --------------------------------------------------------------------------- */

/* 88888888888888888888888888888888888888888888888888888888888888888 */
@media screen and (min-width:481px) and (max-width: 768px) {

    nav {
     
        width: flex;
        height: 64px;
        padding: 0px 32px;
        background-color: #000000;
    }

    ul li a {
        display: none;
    }

    .bt {
        display: none;
    }

    .menu {
        width: 100%;
        display: flex;
        color: beige;
        font-size: 24px;
        background-color: black;
        border: none;
    }

    .menu:hover {
        color: #07E4F2;
        display: block;
    }

    .para {

        width: 100%;
        color: rgb(5, 25, 61);
        text-align: left;
        padding: 16px 0px 24px 0px;
    }
 
    h1 {
        font-weight: bolder;
        font-size: 2rem;
    }

    p {
        font-size: 0.8rem;
    }

    .dis {
        flex-direction: column;
        align-content: center;
        margin: 32px 32px 20px 32px;
    }

    .hero {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0px;
    }

    .main {
        padding-bottom: 0px;
    }

}



@media screen and (min-width:360px) and (max-width:480px) {

    nav {
        width: flex;
        height: 40px;
        padding: 0px 16px;
        background-color: #000000;
    }

    ul li a {
        display: none;
    }

    .bt {
        display: none;
    }

    .menu {
        display: flex;
        color: beige;
        font-size: 24px;
        background-color: black;
        border: none;
    }

    .menu:hover {
        color: #07E4F2;
        display: block;
    }

    .para {

        width: 100%;
        color: rgb(5, 25, 61);
        text-align: left;
        padding: 16px 0px 24px 0px;
    }

    h1 {
        font-weight: bolder;
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
    }

    .dis {
        flex-direction: column;
        align-content: center;
        margin: 16px 16px 20px 16px;
    }

    .hero {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main {
        padding-bottom: 0px;
    }


}
/* ************************************************************************ */

.service{
    /* background: #000; */
    margin: 185px 140px 100px 140px;
  
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    
}

.one{
    display: inline-block;
    width: 320px;

    justify-content: center;
    align-items: center;
    border:0.5px solid rgb(31, 30, 30);
    padding: 0px 0px 8px 0px;
    margin: 0px 10px 0px 0px;
   
}
.one img{
    width:100%;
    height: auto;

    background-color: #00000079;

    box-sizing: border-box;


}
.h1{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 8px 0px 8px;
    color: rgb(71, 66, 57);
}

.p1{
    font-size: 0.8rem;
    text-align: justify;
    font-weight: 500;
    padding: 0px 8px 8px 8px;

    margin: 0px;
    color: rgb(65, 65, 65);
}
.know{
   margin: 0px 8px 8px 8px;
    box-sizing: border-box;
    color: rgb(60, 47, 90);
    font-weight: 500;
    font-size: 0.9rem;
}


.two{
    display: inline-block;
    width: 320px;

    justify-content: center;
    align-items: center;
    border:0.5px solid rgb(31, 30, 30);
    padding: 0px 0px 8px 0px;
    margin: 0px 5px 0px 5px;
    
}
.two img{
    width:100%;
    height: auto;

    background-color: #00000079;
 
    box-sizing: border-box;
  

}

.three{
    display: inline-block;
    width: 320px;
  
    justify-content: center;
    align-items: center;
    border:0.5px solid rgb(31, 30, 30);
    padding: 0px 0px 8px 0px;
    margin: 0px 0px 0px 10px;
    
}
.three img{
    width:100%;
    height: auto;
    /* height: calc(100%-160px); */
    /* height: auto; */
    background-color: #00000079;
    /* padding: 8px 8px 16px 8px; */
    box-sizing: border-box;
}



@media screen and (min-width:481px) and (max-width: 768px) {

    .service{
        /* background: #000; */
        margin: 0px 30px 100px 30px;
        /* width: 100vw; */
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;


}
.one img{
    width:100%;
    height: auto;

    background-color: #00000079;

    box-sizing: border-box;


}


.h1{
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 8px 0px 8px;
    color: rgb(71, 66, 57);
}

.p1{
    font-size: 0.6rem;
    text-align: justify;
    font-weight: 500;
    padding: 0px 8px 8x 8px;

    margin: 0px;
    color: rgb(65, 65, 65);
}

.know{
    margin: 0px 8px 8px 8px;
     box-sizing: border-box;
     color: rgb(60, 47, 90);
     font-weight: 400;
     font-size: 0.6rem;
 }
 


}


@media screen and (min-width:360px) and (max-width:480px){


.service{
    /* background: #000; */
    margin: 50px 16px 50px 16px;
    /* width: 100vw; */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.h1{
    font-size: 0.8rem;
    font-weight: bold;
    padding: 10px 8px 0px 8px;
    color: rgb(71, 66, 57);
}

.p1{
    font-size: 0.7rem;
    text-align: justify;
    font-weight: 500;
    padding: 0px 8px 8x 8px;

    margin: 0px;
    color: rgb(65, 65, 65);
}

.know{
    margin: 0px 8px 8px 8px;
     box-sizing: border-box;
     color: rgb(60, 47, 90);
     font-weight: 400;
     font-size: 0.6rem;
 }
}